<html>
	<head>
		<title><{$title}></title>
        <meta name="Keywords" content="<{$keywords}>">
        <meta name="Description" content="<{$description}>">
        <php>$logo5=C('logo5');</php>
        <link rel='icon' href='<{$logo5}>' type='image/x-ico' /> 
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="__PUBLIC__/Index/Case/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Index/Case/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="__PUBLIC__/Index/Case/assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="__PUBLIC__/Index/Case/info/2.jpg" alt="" /></a>
				<h1>岁月如梭，故里何寻？
				</h1>

				
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2><font size="20">“活着的古城”</font><br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-----------古城镇旅游开发项目研究专题</h2>
						</header>
						<p>日渐升温的古镇旅游热，如何从历史文脉、人居生态、经济效益诸角度系统、科学、全面地规划古镇保护与开发，赋予其更具现代社会的价值的功能，值得冷静的去思考。有一种方式被具有理想主义或完美主义的实践者所推崇，称之为&nbsp;&nbsp;————<strong>&nbsp;&nbsp;“活着的古城”。</strong></p>
						<ul class="actions">
							<li style="margin-left: 75%;"><a href="#" class="button">题记</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>传统古镇肌理结构</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/乔家大院.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/乔家大院.jpg" alt="" /></a>
								<h3>1.北方大院建筑群</h3>
							<p>• 分布区域：分布在山西、冀北，以乔家大院、常家大院为代表。</br>
             				   • 风格特征：气势威严、高大富贵、粗犷
									中不失细腻，平面而又立体的表现形式，彰显出四平八稳的姿态，处处是以礼为本的建筑特色。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/党家村.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/党家村.jpg" alt="" /></a>
								<h3>2.西北古镇古村落群</h3>
							<p>• 分布区域：主要分布陕西的北部，甘肃
								的东南部，以榆林为代表。</br>
             				   • 风格特征：院落的封闭性很强，屋身低
								矮，屋顶坡度低缓，还有相当多得建筑
								使用平顶。很少使用砖瓦，多用土坯或
								夯土墙，木装修更简单。有些地区还有
								窑洞建筑，除靠崖凿窑外，还有地坑窑，平地发券窑。风格质朴敦厚。</p>
							</article>
							
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/和顺.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/和顺.jpg" alt="" /></a>
								<h3>3.南诏古镇古村落群</h3>
							<p>• 分布区域：主要分布在云南,以和顺为代表。</br>
             				   • 风格特征：具有民族特色，如傣族的干
								栏式，苗族的吊脚楼等。云南最富盛名
								的“一颗印”建筑，在建筑风格和特色上
								有很大的区别，建筑形制不受约束和自
								然紧密地联系在一起，极富地理特征。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/丽江.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/丽江.jpg" alt="" /></a>
								<h3>4.西南古村落群</h3>
							<p>• 分布区域：分布在四川、重庆以及亍南
							的北部，以丽江、黄龙溪为代表。</br>
             				   • 风格特征：既有浪漫奔放的艺术风格，
								又蕴藏着人类无穷的想象力。依山傍水
								的建筑与当地的少数民族风俗紧密联系
								在一起，有着无穷无尽的文化气息，显
								露出豪迈中轻巧的一面。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/徽派.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/徽派.jpg" alt="" /></a>
								<h3>5.徽派古村落群</h3>
						<p>•分布区域：重要分布安徽江西，以西递、
							婺源为代表。</br>
             				   • 风格特征：徽派风格自然古朴，隐僻典
								雅。不矫饰，不做作，自然大方，顺乎
								形势，与大自然保持和谐，不务时兴，
								笃守古制，信守传统，推崇儒教。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/江南水乡.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/江南水乡.jpg" alt="" /></a>
								<h3>6.江南水乡古镇古村落群</h3>
							<p>•分布区域：分布在江苏南部、浙江北部
								和上海，以江南六镇以及朱家角为代表。</br>
             				   •风格特征：建筑上着意于修饰乡村外景，修建道路，桥梁，书院，牌坊，祠堂，
								风水楼阁等，力图使环境达到完善，优
								美的境界。</p>
							</article>
							
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/永定.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/永定.jpg" alt="" /></a>
								<h3>7.岭南古村落群</h3>
						<p>• 分布区域：主要分布在福建，广东，以
							永定、开平为代表。</br>
             				   • 风格特征：有着鲜明的地方特色和个性
								特征，蕴涵着丰富的文化养涵，除了注
								重其实用功能外，更要注重其自身的空
								间形式，艺术风格，民族传统以及周围
								环境的协调。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/凤凰.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/凤凰.jpg" alt="" /></a>
								<h3>8. 湘黔古镇古村落群</h3>
						<p>• 分布区域：分布在湘南、贵州，以凤凰
								古城、青岩为代表。</br>
             				   • 风格特征：组群比较密集，城镇中大型
								组群（大住宅，会馆，店铺，寺庙，祠
								堂等）较多，而且带有楼房；小型建筑
								（一般住宅，店铺）自由灵活。屋顶坡
								度陡峻，翼角高翘，装修精致富丽，雕
								刻彩绘很多。总的风格是秀丽轻巧。</p>
							</article>
						</div>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>中国古镇一般要素</h2>
					<section>
						<h4>一、主要由街巷构成，成为相互渗透的街坊空间，也成为联系家家户户的感情纽带。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian3.jpg" alt="" /></span></div>
					    </div>
					</br>
						<p>深受中国封建社会县城建置风格影响，展现官衙区位、街道规划、民居建筑、商街店肆的真实情况。内部布局主次分明，大街、小街、蛐蜒巷，一街多巷是古镇特别的空间结构。</p>
					</section>
					<hr>
					<section>
						<h4>二、必须要有水，多为水量较少的蜿蜒溪流，木、砖、石结构建筑一般沿河而建。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui3.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>三、拥有一定数量的公共建筑单体。</h4>
						<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/citang.jpg" alt="" /></span><font color="black">宗庙祠堂</font>————是古镇的血缘纽带和信仰载体，多占据古镇中的重要位置，以示对祖宗癿崇拜和尊重。除了纪念本族祖先以外，也有一些为英雄、名人、乡贤建立德寺庙，还有一类即为普遍的宗教活劢场所，比如观音庙、土地庙、娘娘庙等。</p>
					    </br>
					    <p><span class="image right"><img src="__PUBLIC__/Index/Case/info/huiguan.jpg" alt="" /></span><font color="black">会馆</font>————作为各地联谊的社会组织，为了增进乡谊、加强团结和审扬乡土主义，各乡民会馆里都有祭祖敬贤或崇神的传统，且因地区不同，各会馆都会供奉不同癿对象。是最为重要和有价值的公共建筑之一，不仅是古镇中极富特色的建筑类型，而且也是影响古镇总体格局形成的重要因素。</p>
					    </br>
					    <p><span class="image left"><img src="__PUBLIC__/Index/Case/info/xitai.jpg" alt="" /></span><font color="black">古戏台</font>————是中国古代建筑中的重要类型，不仅承载了中国戏曲文化，更是中国世俗生活的鲜明写
照。戏台承载了聚集一区百姓，酬神还愿的功能。随着社会的发展，戏台也成为了大众休闲娱乐场所，
人们在此家长里短，相互交流，因此，戏台演发成古镇居民的公共活动空间。</p>
					    </br>

					    <p><span class="image right"><img src="__PUBLIC__/Index/Case/info/shuyuan.jpg" alt="" /></span><font color="black">书院</font>————是古镇的文化中心，多位于古镇边缘或镇外的山林之中，以寻求远离尘嚣，清净自修的平静。</p>
					</section>
				</br>
				</br>
				</br>
				</br>
				<hr>
					<section>
						<h4>四、干净整齐，有历史感的石板路面。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu3.jpg" alt="" /></span></div>
					    </div>
					</br>
						<p>石板路用大大小小、宽厚不一的条石铺成。岁月沧桑，路人的脚板将原本粗糙不平的条石磨得光光溜溜，呈现出种种印迹花纹。石板路是有历史，经历了许许多多的风风雨雨，见证了人世间的悲欢离合。</p>
					</section>
					</section>
					<section id="four">
						<h2>中国古镇业态模式</h2>
						<section>
						<h4>一、主街为商业街道，商铺林立，各种商品琳琅满目。如大理古城主街、山西平遥古城主街、阳朔西街。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shangyejie1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shangyejie2.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>二、酒吧、美食等休闲业态沿水景观布置，客栈分布在幽静的巷子里。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba4.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>三、文化遗存，名人故里，传统文化演出或活动，特色博物馆。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli4.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>四、在白天观光的基础上，以夜间、活动、休闲为核心的夜游项目成为重要亮点。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian4.jpg" alt="" /></span></div>
					    </div>
					</section>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<!-- <ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul> -->
				<php>
        		$right=C('sy_webcopyright');
         		$ICP=C('sy_webrecor');
    			</php>
				<ul class="copyright">
					<li><{$right}></br>ICP备案号：<{$ICP}></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="__PUBLIC__/Index/Case/assets/js/jquery.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/jquery.poptrox.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/skel.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="__PUBLIC__/Index/Case/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="__PUBLIC__/Index/Case/assets/js/main.js"></script>

	</body>
</html>