<html>
	<head>
		<title><{$title}></title>
        <meta name="Keywords" content="<{$keywords}>">
        <meta name="Description" content="<{$description}>">
        <php>$logo5=C('logo5');</php>
        <link rel='icon' href='<{$logo5}>' type='image/x-ico' /> 
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="__PUBLIC__/Index/Case/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Index/Case/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="__PUBLIC__/Index/Case/assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="__PUBLIC__/Index/Case/info/2.jpg" alt="" /></a>
				<h1>岁月如梭，故里何寻？
				</h1>

				
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2><font size="20">“活着的古城”</font><br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-----------古城镇旅游开发项目研究专题</h2>
						</header>
						<p>日渐升温的古镇旅游热，如何从历史文脉、人居生态、经济效益诸角度系统、科学、全面地规划古镇保护与开发，赋予其更具现代社会的价值的功能，值得冷静的去思考。有一种方式被具有理想主义或完美主义的实践者所推崇，称之为&nbsp;&nbsp;————<strong>&nbsp;&nbsp;“活着的古城”。</strong></p>
						<ul class="actions">
							<li style="margin-left: 75%;"><a href="#" class="button">题记</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>传统古镇肌理结构</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/乔家大院.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/乔家大院.jpg" alt="" /></a>
								<h3>1.北方大院建筑群</h3>
							<p>• 分布区域：分布在山西、冀北，以乔家大院、常家大院为代表。</br>
             				   • 风格特征：气势威严、高大富贵、粗犷
									中不失细腻，平面而又立体的表现形式，彰显出四平八稳的姿态，处处是以礼为本的建筑特色。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/党家村.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/党家村.jpg" alt="" /></a>
								<h3>2.西北古镇古村落群</h3>
							<p>• 分布区域：主要分布陕西的北部，甘肃
								的东南部，以榆林为代表。</br>
             				   • 风格特征：院落的封闭性很强，屋身低
								矮，屋顶坡度低缓，还有相当多得建筑
								使用平顶。很少使用砖瓦，多用土坯或
								夯土墙，木装修更简单。有些地区还有
								窑洞建筑，除靠崖凿窑外，还有地坑窑，平地发券窑。风格质朴敦厚。</p>
							</article>
							
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/和顺.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/和顺.jpg" alt="" /></a>
								<h3>3.南诏古镇古村落群</h3>
							<p>• 分布区域：主要分布在云南,以和顺为代表。</br>
             				   • 风格特征：具有民族特色，如傣族的干
								栏式，苗族的吊脚楼等。云南最富盛名
								的“一颗印”建筑，在建筑风格和特色上
								有很大的区别，建筑形制不受约束和自
								然紧密地联系在一起，极富地理特征。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/丽江.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/丽江.jpg" alt="" /></a>
								<h3>4.西南古村落群</h3>
							<p>• 分布区域：分布在四川、重庆以及亍南
							的北部，以丽江、黄龙溪为代表。</br>
             				   • 风格特征：既有浪漫奔放的艺术风格，
								又蕴藏着人类无穷的想象力。依山傍水
								的建筑与当地的少数民族风俗紧密联系
								在一起，有着无穷无尽的文化气息，显
								露出豪迈中轻巧的一面。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/徽派.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/徽派.jpg" alt="" /></a>
								<h3>5.徽派古村落群</h3>
						<p>•分布区域：重要分布安徽江西，以西递、
							婺源为代表。</br>
             				   • 风格特征：徽派风格自然古朴，隐僻典
								雅。不矫饰，不做作，自然大方，顺乎
								形势，与大自然保持和谐，不务时兴，
								笃守古制，信守传统，推崇儒教。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/江南水乡.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/江南水乡.jpg" alt="" /></a>
								<h3>6.江南水乡古镇古村落群</h3>
							<p>•分布区域：分布在江苏南部、浙江北部
								和上海，以江南六镇以及朱家角为代表。</br>
             				   •风格特征：建筑上着意于修饰乡村外景，修建道路，桥梁，书院，牌坊，祠堂，
								风水楼阁等，力图使环境达到完善，优
								美的境界。</p>
							</article>
							
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/永定.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/永定.jpg" alt="" /></a>
								<h3>7.岭南古村落群</h3>
						<p>• 分布区域：主要分布在福建，广东，以
							永定、开平为代表。</br>
             				   • 风格特征：有着鲜明的地方特色和个性
								特征，蕴涵着丰富的文化养涵，除了注
								重其实用功能外，更要注重其自身的空
								间形式，艺术风格，民族传统以及周围
								环境的协调。</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="__PUBLIC__/Index/Case/info/凤凰.jpg" class="image fit thumb"><img src="__PUBLIC__/Index/Case/info/凤凰.jpg" alt="" /></a>
								<h3>8. 湘黔古镇古村落群</h3>
						<p>• 分布区域：分布在湘南、贵州，以凤凰
								古城、青岩为代表。</br>
             				   • 风格特征：组群比较密集，城镇中大型
								组群（大住宅，会馆，店铺，寺庙，祠
								堂等）较多，而且带有楼房；小型建筑
								（一般住宅，店铺）自由灵活。屋顶坡
								度陡峻，翼角高翘，装修精致富丽，雕
								刻彩绘很多。总的风格是秀丽轻巧。</p>
							</article>
						</div>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>中国古镇一般要素</h2>
					<section>
						<h4>一、主要由街巷构成，成为相互渗透的街坊空间，也成为联系家家户户的感情纽带。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/xian3.jpg" alt="" /></span></div>
					    </div>
					</br>
						<p>深受中国封建社会县城建置风格影响，展现官衙区位、街道规划、民居建筑、商街店肆的真实情况。内部布局主次分明，大街、小街、蛐蜒巷，一街多巷是古镇特别的空间结构。</p>
					</section>
					<hr>
					<section>
						<h4>二、必须要有水，多为水量较少的蜿蜒溪流，木、砖、石结构建筑一般沿河而建。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shui3.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>三、拥有一定数量的公共建筑单体。</h4>
						<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/citang.jpg" alt="" /></span><font color="black">宗庙祠堂</font>————是古镇的血缘纽带和信仰载体，多占据古镇中的重要位置，以示对祖宗癿崇拜和尊重。除了纪念本族祖先以外，也有一些为英雄、名人、乡贤建立德寺庙，还有一类即为普遍的宗教活劢场所，比如观音庙、土地庙、娘娘庙等。</p>
					    </br>
					    <p><span class="image right"><img src="__PUBLIC__/Index/Case/info/huiguan.jpg" alt="" /></span><font color="black">会馆</font>————作为各地联谊的社会组织，为了增进乡谊、加强团结和审扬乡土主义，各乡民会馆里都有祭祖敬贤或崇神的传统，且因地区不同，各会馆都会供奉不同癿对象。是最为重要和有价值的公共建筑之一，不仅是古镇中极富特色的建筑类型，而且也是影响古镇总体格局形成的重要因素。</p>
					    </br>
					    <p><span class="image left"><img src="__PUBLIC__/Index/Case/info/xitai.jpg" alt="" /></span><font color="black">古戏台</font>————是中国古代建筑中的重要类型，不仅承载了中国戏曲文化，更是中国世俗生活的鲜明写
照。戏台承载了聚集一区百姓，酬神还愿的功能。随着社会的发展，戏台也成为了大众休闲娱乐场所，
人们在此家长里短，相互交流，因此，戏台演发成古镇居民的公共活动空间。</p>
					    </br>

					    <p><span class="image right"><img src="__PUBLIC__/Index/Case/info/shuyuan.jpg" alt="" /></span><font color="black">书院</font>————是古镇的文化中心，多位于古镇边缘或镇外的山林之中，以寻求远离尘嚣，清净自修的平静。</p>
					</section>
				</br>
				</br>
				</br>
				</br>
				<hr>
					<section>
						<h4>四、干净整齐，有历史感的石板路面。</h4>
						<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu.jpg" alt="" /></span></div>
						<div class="row 50% uniform">
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu1.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu2.jpg" alt="" /></span></div>
						<div class="4u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shibanlu3.jpg" alt="" /></span></div>
					    </div>
					</br>
						<p>石板路用大大小小、宽厚不一的条石铺成。岁月沧桑，路人的脚板将原本粗糙不平的条石磨得光光溜溜，呈现出种种印迹花纹。石板路是有历史，经历了许许多多的风风雨雨，见证了人世间的悲欢离合。</p>
					</section>
					</section>
					<section id="four">
						<h2>中国古镇业态模式</h2>
						<section>
						<h4>一、主街为商业街道，商铺林立，各种商品琳琅满目。如大理古城主街、山西平遥古城主街、阳朔西街。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shangyejie1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shangyejie2.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>二、酒吧、美食等休闲业态沿水景观布置，客栈分布在幽静的巷子里。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/shuiba4.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>三、文化遗存，名人故里，传统文化演出或活动，特色博物馆。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/guli4.jpeg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4>四、在白天观光的基础上，以夜间、活动、休闲为核心的夜游项目成为重要亮点。</h4>
						<div class="row 50% uniform">
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian1.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian2.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian3.jpg" alt="" /></span></div>
						<div class="6u"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/yedian4.jpg" alt="" /></span></div>
					    </div>
					</section>
					<hr>
					<section>
						<h4><strong style="font-size:20;">分析小结:</strong></h4>
							<div class="row">
								<div class="12u 12u$(xsmall) summary">
									<ul>
										<li>靠景点观光吸引游客的时代已经过去，古镇旅游已经逐渐进入休闲时代；</li>
										<li>在白天观光的基础上，以夜景观光、夜间活动、夜晚休闲为核心的夜游项目成为重要亮点；</li>
										<li>以节庆造势，民俗活动、表演和休闲留人，是古镇旅游项目重要的发展斱向 。</li>
									</ul>
									<div class="12u$"><span class="image fit"><img src="__PUBLIC__/Index/Case/info/summary.jpg" alt="" /></span></div>
					</section>
					</section>
					<section id="five">
						<h2>古镇旅游业态开发模式</h2>
						<section>
							<p>随着中国旅游业的蓬勃发展，古镇古村作为独特人文内涵与景观形态的结合体，受到越来越多旅游者的青睐和追捧。在全国176家国家5A级景区中，就有多家古镇古村依托型的旅游景区，包括黄山西递-宏村、苏州同里古镇、苏州周庄古镇、嘉兴乌镇、枣庄台儿庄古城、四川阆中古城等。相应地，古镇古村也成为近年来旅游开发的热点，中坤集团、中青旅集团、成都文旅集团是中国古镇古村旅游开发的先行者，一批新的开发商如南京雨润集团、一德集团等纷纷涉足古镇古村开发。伴随古镇古村如火如荼旅游开发的同时，古镇古村风貌保护弱化、传统文化发展异化、过度商业化等问题日益突出并日趋严峻。如何完整保存古镇古村的传统风貌、延续地域传统文化同时实现其持续发展，已成为一个急待研讨和解决的议题。梳理古镇古村的旅游开发与发展历程，总共经历了三代发展阶段，也因此分为三种不同的旅游开发模式：
</p>
						</section>
							<hr />
						<section>
							<header>
								<h4>第一代：文化观光型旅游开发模式。</h4>
							</header>
							<p>以中国最早开发旅游的江南六大古镇周庄、同里、甪直、西塘、乌镇（东栅）、南浔以及黄山西递-宏村、贵州黔东南郎德上寨等为代表。这一代古镇古村主要有两大特征：第一，强调文化本身的价值而非文化的可消费性；第二，旅游发展定位为地方民俗文化大看台，以其原始建筑景观和人文风貌为核心吸引物，建筑景观、博物馆、名人故居以及遗址组成主要产品，向游客展示最传统的民俗文化元素。由于过度强调文化价值，文化转化形式单一，古镇古村静态呆板“曲高和寡”，仅仅能够满足游客最基础的观光需求。供给方，古镇古村以景区形式出现，“门票经济”现象突出，收入模式单一；需求方，游客的旅游消费单一，停留时间短，基本不过夜。</br></br>
乌镇东栅是第一代旅游开发模式的典型代表。乌镇东栅依托江南地方民俗文化和江南水乡古镇风貌，以茅盾故居、民俗风情博物馆等构成景区核心产品，是一个典型的古镇型观光旅游景区。至2006年，乌镇东栅景区游客年接待量超过200万人次，但游客消费以门票为主，过夜游客比例微乎其微。
</p>
						</section>
						<hr>
						<section>
							<header>
								<h4>第二代：休闲度假型旅游开发模式。</h4>
							</header>
							<p>以2000年后异军突起的乌镇西栅、丽江大研古镇、四川洛带古镇、黄龙溪古镇、贵州西江千户苗寨、厦门山重村等为代表。这一代古镇古村将文化与商业主动结合，古镇引入休闲商业属性的餐饮、住宿、娱乐等业态，结合古镇古村环境的“壳”，营销独特的文化休闲消费氛围，既满足游客现代物质消费的需求，同时兼顾对环境氛围的精神消费需求。这类开发模式下的古镇古村受到当前游客的欢迎和追捧，往往成为区域重要的休闲度假目的地。但是，商业的注入虽然为古镇古村输入新活力，但也带来两个明显的问题：第一，国内文化商业创意滞后，业态类同且缺乏个性，导致古镇古村同质化问题突出；第二，古村古镇高度商业化使得大量异地商品、文化、趋利生意人侵略式进入，驱逐本土原住民搬离，造成本地文化空心化和虚假化，古镇古村原真文化的魅力逐渐消失，进而影响古镇古村的可持续化发展。</br></br>
其中，丽江大研古镇是典型案例。丽江大研古镇每年接待全国各地上千万游客，游客单次停留时间在3-7天，是休闲度假型发展模式的典范。但是，由于近些年过度商业化开发，本地居民逐步搬离古镇，附近居民也不愿意进入古镇，大研古镇正在失去原真文化的魅力。据调查，大研古镇存在大量同质性业态和大路货商品，高转让率、转手价格虚高等现象突出，三分之二的商铺经营不善，导致越来越多游客放弃丽江大研古镇。

</p>
						</section>
						<hr>
						<section>
							<header>
								<h4>第三代：生活体验型旅游开发模式。</h4>
							</header>
							<p>全球范围内以匈牙利霍洛克民俗村、奥地利哈尔斯塔特小镇、日本越后妻有、印尼巴厘岛乌布等为代表。这一代古镇古村关注文化与旅游的有机融合、协调发展，既重视文化旅游的发展，以此作为古镇古村可持续发展的重要产业载体，同时对引入古镇古村的新业态、新要素、新产品和新人口进行筛选，控制在古镇古村的空间承载力和精神承受力范围之内，同时能够促进当地文化传承与发展。此类旅游开发模式的要点主要有以下三点：第一，重视当地传统文化的传承，同时有选择性引入外来文化、创意或艺术，增加文化传承发展的生命力；第二，现代生活要素和时尚旅游元素低调注入，既满足现代人的物质和精神消费需求，同时不破坏当地的人文脉络和生活习惯；第三，强调人与自然的和谐共生，保留传统生活方式和自然居住形态。古镇古村的旅游开发和发展，不是为迎合外来游客而改变自身气质，而是凭借和发挥自身独特气质和传统生活方式，吸引文化型企业、文艺工作者进驻和参与开发，吸引文化旅游者和文艺爱好者到访甚至长期居住，共同参与古镇古村的保护与发展。</br></br>
印尼巴厘岛乌布是巴厘岛著名的旅游胜地，也是蜚声世界的艺术村落。乌布随处可见的工艺作坊、博物馆以及过半数原住民艺术工作者，见证着传统文化的传承发展，乌布还成为数十年来西方艺术家的艺术灵感摇篮。本地人传承发展传统艺术文化，“新乌布人”带来现代创意艺术文化，引入了人与精神互动的禅修产品，开发了人与自然和谐共生的稻田度假村，在保存乌布古朴风貌的同时，低调融入时尚度假元素，为乌布注入时代活力，同时延续了文化及艺术的持续生命力。
</p>
						</section>
					</section>
			

			<section id="six">
						<h2><strong>“老瓶装新酒，新瓶盛老酒”</strong></h2>
						<h2>——————传统与新建古镇开发模式研究</h2>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/lijiang.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">丽江发展模式————</span> 丽江模式，丽江旅游业的异军突起，被旅游界称为“世
界遗产带动旅游发展”的“丽江模式”，即
政府投入巨资实施，通过建章立制，使积极
的保护与旅游开发有机结合。主要包括：文化经营：从战略高度经营民族文化产业。比如：“纳西古乐”，“丽水金沙”，“太·阳·
火”等文化产业品牌。古城风貌打造：丽江的形象在于“小资天堂”，其特点是丽江为弘扬传统民族文化，将古城环境和少数民族特色与现代人的游憩
方式、生活方式紧密融合在一起，极大地增
加了丽江古城的文化含量。开发保护：坚持保护第一的原则，处理好保
护与利用的关系；处理好遗产保护与旅游业
之间癿协调关系。可持续发展：着眼未来，不追求黄金周的短
期效应，而志在可持续发展。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/pingyao.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">平遥发展模式————</span> 政府主导，平遥于2002年成立了全省首家古城旅游股份制有限公司，负责平遥古城景点
经营、住宿、基础设施建设及房地产等项目，
是古城保护和新城建设的实施主体。在政府
主导作用下，主要通过以下几方面的措施
来发展平遥古城旅游：通过甲遗提升平遥古城的文化旅游地位；通过各种节庆活动及影规剧迅速超热景区：如平遥国际摄影节、平遥国际摄影大展等；实施古城景区一票制，大大加快了平遥古城由社区向景区的转发过程；通过打包整合旅游资源，实现旅游业向农
村的延伸与辐射。全县30多万农民从中受
益；为提升城市功能和品位，营造良好的旅游
业发展环境，加快旅游配套设施建设。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/fenghuang.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">凤凰发展模式————</span> 买断古镇景点资源，经营权转让，2001年10月14日，凤凰县政府将凤凰古城、南方长城等八大景点经营权转让50年，黄龙洞投资股份有限公司需要在经营期间向凤凰县支付转让费8.33亿元。转让后双方对文物保护确立统一经营思路：景点文物是企业经营赖以生存的根本，在保护的前提下有效经营、开发，取得良好的收益，从而更好地确保文物保护经营的落实和充分利用。
买断景点或景区经营权成为民间资本进入旅游景区经营额的主要方式。而政府与旅游业强手联合后,双方积极打造新的旅游产品组合，城市建设、景点整修、环境保护、对外宣传等方面均取得突破性发展。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/liangzhong.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">阆中古城发展模式————</span>整体租赁开发，古城阆中的开发即是将阆中的旅游资源租赁给浙江周庄开发商的一种开发模式，由政府统一规划，授权
一家企业较长时间地控制和管理，成片租赁开发，垄断性建设、经营、管理该旅游景区，并按约定比例由景区所有者和出资经营者共同分享经营收益。避免了传统模式的不利因素，具备股份制模式的优势，适应经济发展水平低、市场机制不完善、旅游产业不发达的地区开展古城的旅游开发。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/zhouzhuang.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">周庄发展模式————</span>
旅游业+高科技产业，周庄除了继续投入 “江南人家”、“富
贵园”、生态餐厅等三个大型旅游
产业延伸项目外，他们还在1998年
就把传感器这一高科技产业引入周
庄。目前，这一国内最重要的传感
器产业基地已经基本建成。基地已
引进以研发生产传感器为主体的高
新技术企业18家，总投资13.5亿元，
年生产各类传感器4.5亿个，其中，
95%以上销往美国及欧洲、亚洲的
国家和地区。如今，这一高科技产
业已在周庄GDP中占有近50%的比
重。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/wuzhen.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">乌镇发展模式————</span>
政府授权特许经营，政府对古镇实行保护的同时，对经
营性活动实行政府授权下的特许经
营。乌镇经过“开门寻历史、闭门
搞保护”，使古镇得到了有效的保
护。并与中信实业银行签约投入5
、亿元用于乌镇的古镇保护与旅游
开发。乌镇还在保护的基础上，融
入了最具有地方色彩的民间文化进
行衬托，如桐乡花鼓戏和皮影戏等。
体现了一个立体和展现在现实中的
历史遗产群。在古镇风貌方面：乌
镇采用以线带面、逐步修复的手段，
一条街，一条河，线路合理、连贯、
封闭，一进其门就使游人远离现代
都市气息，眼中所见的全是久违了
的明清小镇民居。另外它在旅游线
路的设计安排与市场营销的推广和
包装以及古镇情景氛围的营造方面
也值得称道。被联合国冠予古镇保
护的“乌镇模式”。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/tongli.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">同里发展模式————</span>
政府承包经营，由同里总公司注册成立八家子公司，然
后面向全社会招标，请有经验有资本的
投资方来承包经营，独立运作，同里总
公司则只要制定方针、宏观把握。这八
家子公司分别为市场营销经营公司、车
船经营公司、同里红旅游商品开发有限
公司、“票导”服务公司、景区经营管理
公司、旅行社、大型活动经营公司、民
居客栈管理有限责任公司。这些公司实
行经理负责制，“责、权、利”到位。为
了规避承包之后的商业风险，一方面，
八家子公司的法人代表仍是同里总公司，
一旦发现问题，可以立刻终止协议；另
一方面，同里的品牌对这些子公司也有
约束作用。实行这一模式可以让市场资
源得到细化及更加合理的分配。即便同
里总公司没有实现政企分离，但子公司
已经彻底市场化了，这对扩大旅游附加
值、做大同里旅游经济的作用是显而易
见的。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/nanxun.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">南浔发展模式————</span>
政企合作，2003年，上海博大投资公司和浙江湖州
南浔区签订了共同开发南浔古镇旅游合
作协议，总投资23亿元，近期欲把南浔
打造成为特色鲜明的江南水乡古镇典范，
远期目标则是具有完备城市功能的国际
知名旅游胜地。按计划，上海博大首期
投资11亿元，一期工程完成后，景区内
旅游线路基本贯通，景观打造基本完成，
功能配套基本到位，氛围营造基本实现，
旅游产业初具规模，将集旅游、休闲、
餐饮、娱乐、购物、度假于一体。二期
投资12亿元，计划实施3年，将南浔古
镇建设成为具有独特文化形象与旅游内
容的精品旅游，进一步完善古镇旅游整
体功能。2004年4月份，南浔区政府发文正式授
权“浙江南浔古镇旅游发展有限公司”独
家拥有30年古镇保护性开发权和旅游经
营管理权。而浙江南浔古镇旅游发展有
限公司则由上海博大投资公司以70%控
股，其余30％则由南浔区政府持有。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/zhujiajiao.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">朱家角发展模式————</span>
度假中心(holiday
mall)，朱家角1998年开发旅游，在APEC会议
期间声名鹊起，2003年朱家角投资开发
公司成立，前后三次聘请知名咨询公司
把脉开方，历时2年反复论证，终于制定
出了第一轮旅游发展总体规划：以水乡
为基点，以古镇保护为重点，以大淀湖
开发为亮点，以新镇区特色居住区为热
点，将朱家角从传统的观光旅游点，提
升为集观光、娱乐、休闲、体验、度假、
居住为一体的国内首个综合型、多元态、
国际化“度假茂”。今年8月起，朱家角投
资开发有限公司将投巨资，启动北大街
商业业态调整、“尚都里”休闲中心、“国
家粮仓”文化创意园、上海申窑展示制作
馆、大淀湖水上度假别墅等34个古镇保
护、老镇改造和新镇开发项目，力争到
2010年以前，将9平方公里的朱家角“度
假茂”基本建成，成为北京奥运期间和上
海世博会期间的度假地标，造就辐射华
东乃至海内外的知名休闲天堂。</p>
			</section>
			<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/shuhe.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">束河仿古新镇发展模式————</span>
酒吧和音乐节带动的新古镇模式，定位以飞花触水区的小巴黎酒吧区，哈里谷国际乡村酒吧区为代表，通过“雪山音乐节”、“中国情人节”等高端文化和营销活动，逐渐走向高端定位。业态包括：原有古镇：是纳西族居住的地方，内有民居、客栈、酒吧、茶吧、商铺以及古建和景点；仿古新镇：专门用于酒吧、客栈、商铺的开设，有四方听音广场、商铺、宾馆、餐饮等，这些房地产项目的房产可组可买；配套酒店房产：古镇周边将有8家超五星级的酒店落成，将把束河古镇打造成中国高端休闲度假胜地；商贸休闲街区：在完善束河老区基础设施的基础上，新建200余亩“茶马驿站”的商贸街，许多经营民族产品、旅游产品的商家进入，同时，各种客栈、酒吧遍地开花。特点：古镇和新镇分区而治、联动发展；以民俗演艺或者活动为引爆点，烘托氛围，带动区域旅游的综合开发。
</p>
			</section>
						<section>
				<p><span class="image left"><img src="__PUBLIC__/Index/Case/info/yiren.jpg" alt="" /></span><span style="font-size:20;font-weight: 15;">新建仿古镇模式研究————</span>彝人古镇，总面积为2000亩，建筑面积100万平方米，总投资25亿。是一个以彝文化为
主，并融入宋文化、中国民居文化、建筑文化的一个彝文化大观园、古建筑博物馆。彝
人古镇不仅仅是一个简单的旅游区，还是一个用居住、商业地产和自由景区为核心形成
古镇文化下的旅游综合体开发模式，其成功的主要要素有六个方面：
成功要素之一：重定位，主题为先，特色民俗文化主题品牌吸引，
以市场需求为导向确定项目主题，没有世界文化遗产、重点文物保护单位、历史文化风
景名胜等品牌资源作为依托，彝人古镇，是在区域旅游市场中成功地找到了自己的准确
定位———融入云南省最具吸引力的“昆明—大理（白族）—丽江（纳西族）—香格里
拉”这条黄金旅游线，成为昆明至大理的旅游中转站，打彝族文化、彝乡风情牌，既成
功摆脱了黄金旅游线上成熟景区的荫蔽，又可以借势共享客源，化竞争为竞合，为云南
黄金旅游线再添靓丽的一景。
成功要素之二：重品质，情景营造，塑造文化精品打造历史梦境，
在景观营造方面，为游客营造一个历史的梦境；在规划分区方面，体现古典文化聚落式
的居住区、商业区、休闲区等的自然分隔与融合，不仅满足了现代人追古怀旧的情结，
而且创造出未来的文化遗产。
成功要素之三：重运营，快乐吸引，体验型、开放式文化综合体，
将原生态、本真的文化元素，如音乐、舞蹈、戏曲、杂技、游艺等非物质文化遗产元素，
以零距离互动表演、户外小剧场露天表演、主干道大展演、大巡游等多种动态方式呈现，
自然融入到游客的游赏路线中，给人营造一种步入远古时光片段中的新鲜感。、
在景区运营方面，突破以往“入门即收门票”的单一门票经济模式，打造免门票的开放
式街区，吸引原住地及周边的居民进入休闲、购物、就餐，从而形成本地人气较为聚集
的商圈，提升景区内商铺经营的财气，打造一种全新的“居游共享”景区开发模式。
成功要素之四：重营销，营销创新，示范样板社区进行实体营销，
彝人古镇在开发和营销模式上值得借鉴的一点即：小规模建设一期项目成为
试验型、示范类的样板区，采用“实体营销”战略。这种营销理念运用在项
目建设初期、正式投入运营之前，有利于在商铺、客栈、餐饮等配套项目的
招商引资方面，形成更强的说服力、助推力。
成功要素之五：重战略，角色转变，运营后形成“1+N”发展格局，
土地一级开发商在规划的前期，就考虑到项目各地块的土地升值和未来运营，
准确、灵活的掌控项目规划、建设等工作；并根据自身的资源优势、业务倾
向、人力配备等特点，确定自营项目与招商项目的范围，形成独有的运营模
式。
成功要素之六：重品牌，造房先造景，以经营景区的手法经营片区，
古城镇聚落类文化旅游地产项目，形成了以“文化为基、景观造势、商铺聚
人、地产敛财”为特点的旅游综合体模式，造房先造景，以经营景区的方式
经营城市片区的发展。景区吸引游人、人气吸引商家、成熟的配套吸引业主
入住，从而逐渐形成一个宜游宜居的成熟片区，而吸引人和留住人。</p>
			</section>
			
			</div>

		<!-- Footer -->
			<footer id="footer">
				<!-- <ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul> -->
				<php>
        		$right=C('sy_webcopyright');
         		$ICP=C('sy_webrecor');
    			</php>
				<ul class="copyright">
					<li><{$right}></br>ICP备案号：<{$ICP}></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="__PUBLIC__/Index/Case/assets/js/jquery.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/jquery.poptrox.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/skel.min.js"></script>
			<script src="__PUBLIC__/Index/Case/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="__PUBLIC__/Index/Case/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="__PUBLIC__/Index/Case/assets/js/main.js"></script>

	</body>
</html>